*.class
*.DS_Store
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.settings/
target/
.classpath/
.classpath
.project

.recommender/

.idea
.idea/
.metadata/

.cache
.chche/

__bin/
bin/

__lib/
lib/

dist
dist/

built
built/

typings
typings/

src/*.js
test/*.js

src/**/*.js.map
src/**/*.js

test/**/*.js.map
test/**/*.js


package-lock.json

node_modules/
node_modules

__main.js
main.js
projectFilesBackup


/.externalToolBuilders
.project
*.settings/
.classpath
/build
/.idea/
/logs
*target/
*.iml
*.orig
*~
hbase-*/test
*.iws
*.iml
*.ipr
patchprocess/
dependency-reduced-pom.xml

package-lock.json
